@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.generator {
  height: 280rem;
  &-resume {
    @include mobile {
      margin: 2rem 1rem;
    }
    &__button {
      color: $white;
      font-size: 1rem;
      font-weight: 200;
      background-color: rgba($dark-blue, 0.2);
      text-align: center;
      width: fit-content;
      padding: 0 1rem;
      border-radius: 40px;
      margin-bottom: 1rem;
      border: $purple 1px solid;
    }
    &__content pre {
      padding: 1rem;
      border-radius: 20px;
      max-width: 100%;
      overflow-x: auto;
      white-space: pre-wrap;
      color: $white;
      background-color: rgba($purple, 0.2);
    }
    @include tablet {
      margin: 2rem 2rem;
      &__button {
        font-size: 1.2rem;
        padding: 0 2rem;
      }
    }
    @include desktop {
      margin: 2rem 5rem;
      &__button {
        font-size: 1.5rem;
        padding: 0 3rem;
      }
    }
  }
  &-cover {
    @include mobile {
      margin: 1rem;
    }
    &__button {
      color: $white;
      font-size: 1rem;
      font-weight: 200;
      background-color: rgba($dark-blue, 0.2);
      text-align: center;
      width: fit-content;
      padding: 0 1rem;
      border-radius: 40px;
      margin-bottom: 1rem;
      border: $purple 1px solid;
    }
    &__content pre {
      padding: 1rem;
      border-radius: 20px;
      max-width: 100%;
      overflow-x: auto;
      white-space: pre-wrap;
      color: $white;
      background-color: rgba($purple, 0.2);
    }
    &__heading {
      color: $white;
      width: 80%;
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__job {
      display: flex;
      margin-bottom: 1rem;
      align-items: flex-end;
      &--title {
        color: $white;
        font-size: 1rem;
        font-weight: 200;
        width: 80%;
      }
      &--checkbox {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    @include tablet {
      margin: 2rem 2rem;
      &__button {
        font-size: 1.2rem;
        padding: 0 2rem;
      }
    }
    @include desktop {
      margin: 2rem 5rem;
      &__button {
        font-size: 1.5rem;
        padding: 0 3rem;
      }
    }
  }
}
