@use "variables" as *;

@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("woff2");
}

* {
  font-family: "Titillium Web", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: white;
  }
}

li {
  list-style: none;
}

body {
  background-image: linear-gradient(
    to right,
    #00eaff,
    #00bff3,
    #0093dd,
    #2665ba,
    #4d3589
  );
  background-repeat: no-repeat;
}
