@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.aboutus {
  &-network {
    &__spline {
      z-index: -10;
      @include mobile {
        position: absolute;
        top: -20%;
      }
      @include desktop {
        top: -20%;
      }
    }
  }
  &-thanks {
    text-align: center;
    &__text {
      color: white;
      @include mobile {
        font-size: 1rem;
        font-weight: 200;
        margin: 2rem;
      }
      @include tablet {
        font-size: 2rem;
        font-weight: 200;
        margin: 2rem;
      }
      @include desktop {
        font-size: 3rem;
        font-weight: 200;
        margin: 2rem;
      }
    }
  }
  &-social {
    &__heading {
      text-align: center;
      color: white;
      margin-top: 2rem;
      @include mobile {
        font-size: 0.7rem;
      }
      @include tablet {
        font-size: 1.5rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }
    &__icons {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      &--facebook {
        @include mobile {
          margin: 0 0.5rem;
        }
        @include tablet {
          margin: 0 1rem;
        }
        @include desktop {
          margin: 0 2rem;
        }
        &-icon {
          @include mobile {
            width: 70%;
            height: fit-content;
          }
          @include tablet {
            width: 100%;
            height: fit-content;
          }
          @include desktop {
            width: 150%;
            height: fit-content;
          }
        }
      }
      &--twitter {
        @include mobile {
          margin: 0 0.5rem;
        }
        @include tablet {
          margin: 0 1rem;
        }
        @include desktop {
          margin: 0 2rem;
        }
        &-icon {
          @include mobile {
            width: 70%;
            height: fit-content;
          }
          @include tablet {
            width: 100%;
            height: fit-content;
          }
          @include desktop {
            width: 150%;
            height: fit-content;
          }
        }
      }
      &--instagram {
        @include mobile {
          margin: 0 0.5rem;
        }
        @include tablet {
          margin: 0 1rem;
        }
        @include desktop {
          margin: 0 2rem;
        }
        &-icon {
          @include mobile {
            width: 70%;
            height: fit-content;
          }
          @include tablet {
            width: 100%;
            height: fit-content;
          }
          @include desktop {
            width: 150%;
            height: fit-content;
          }
        }
      }
    }
  }
}
