@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.login-page {
  @include mobile {
    height: 58rem;
  }
    @include tablet {
        height: 60rem;
    }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(white, 0.1);
    @include mobile {
      margin: 0 3rem;
      padding: 2rem 0;
    }
    @include tablet {
      margin: 0 8rem;
      padding: 2rem 0;
    }
    @include desktop {
      margin: 0 15rem;
      padding: 3rem 0;
    }
    &--username {
      @include mobile {
        margin-top: 0.5rem;
        padding: 0.3rem 0;
        width: 80%;
        background-color: rgba(#00eaff, 0.1);
        border: none;
        border-radius: 40px;
        &::placeholder {
          color: white;
        }
      }
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
    }
    &--password {
      @include mobile {
        margin-top: 0.5rem;
        padding: 0.3rem 0;
        width: 80%;
        background-color: rgba(#00eaff, 0.1);
        border: none;
        border-radius: 40px;
        &::placeholder {
          color: white;
        }
      }
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
    }
    &--submit {
      @include mobile {
        margin: 2rem 0 0 0;
        width: 50%;
        padding: 0.2rem 0;
        background-color: rgba(#00eaff, 0.1);
        border: #0025ce solid 1px;
        border-radius: 40px;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: rgba(#00eaff, 0.3);
        }
      }
      @include tablet {
        width: 40%;
        font-size: 1rem;
      }
      @include desktop {
        width: 30%;
        font-size: 1.5rem;
      }
    }
  }
}
