@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.info {
  @include mobile {
    height: 58rem;
  }
  @include desktop {
    height: 70rem;
  }
  &-hero {
    display: flex;
    justify-content: space-between;
    &__active {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &--news {
        font-size: 0.8rem;
        text-decoration: none;
        padding: 0 1rem;
        border-radius: 20px;
        background-color: rgba(#4d3589, 0.2);
        cursor: pointer;
        &:hover {
          background-color: rgba(#4d3589, 0.6);
        }
        @include tablet {
          font-size: 1rem;
        }
        @include desktop {
          font-size: 1.5rem;
        }
      }
      &--user {
        @include tablet {
          display: flex;
          justify-content: space-between;
          width: 28%;
        }
        &-avatar {
          @include mobile {
            font-size: 0.8rem;
            display: block;
            padding: 0 1rem;
            border: none;
            border-radius: 30px;
            background-color: rgba(#00eaff, 0.1);
            color: white;
          }
          @include tablet {
            font-size: 1rem;
          }
          @include desktop {
            font-size: 1.5rem;
          }
        }
        &-logout {
          @include mobile {
            display: none;
          }
          @include tablet {
            display: block;
            font-size: 1rem;
            padding: 0 1rem;
            border-radius: 20px;
            color: white;
            border: none;
            background-color: rgba(#00eaff, 0.1);
            cursor: pointer;
            &:hover {
              background-color: rgba(#00eaff, 0.3);
            }
          }
          @include desktop {
            font-size: 1.5rem;
          }
        }
      }
    }
    &__news {
      text-decoration: none;
      font-size: 0.8rem;
      padding: 0 1rem;
      border-radius: 20px;
      background-color: rgba(#4d3589, 0.2);
      cursor: pointer;
      &:hover {
        background-color: rgba(#4d3589, 0.6);
      }
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
    }
    &__login {
      font-size: 0.8rem;
      padding: 0 1rem;
      border-radius: 20px;
      color: white;
      border: none;
      background-color: rgba(#00eaff, 0.1);
      cursor: pointer;
      &:hover {
        background-color: rgba(#00eaff, 0.3);
      }
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.5rem;
      }
    }
    @include mobile {
      margin: 0 1rem;
    }
    @include tablet {
      margin: 0 2rem;
    }
    @include desktop {
      margin: 0 5rem;
    }
  }
}
