@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.info {
  @include mobile {
    margin: 1rem;
    &-AI {
      color: $white;
      font-size: 1rem;
      font-weight: 200;
      background-color: rgba($dark-blue, 0.2);
      text-align: center;
      width: fit-content;
      padding: 0.2rem 1rem;
      border-radius: 40px;
      margin: 2rem 0;
      border: $purple 1px solid;
    }
    &-input {
      color: $white;
      background-color: rgba($dark-blue, 0.1);
      border-radius: 20px;
      padding: 0.5rem 1rem;
      &__button {
        background-color: rgba($dark-blue, 0.2);
        border: $purple 1px solid;
        color: $white;
        width: 5rem;
        padding: 0.5rem 1rem;
        border-radius: 40px;
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 200;
        cursor: pointer;
        &:hover {
          background-color: $dark-blue;
        }
      }
      &__heading {
        font-size: 1.5rem;
        font-weight: 200;
        margin: 1rem 0;
      }
      &__subheading {
        font-size: 1rem;
        font-weight: 600;
        color: $dark-blue;
      }
    }
  }
  @include tablet {
    margin: 2rem;
    &-input {
      padding: 1rem 1.5rem;
      &__subheading {
        font-size: 1.2rem;
      }
      &__text {
        font-size: 1.2rem;
      }
      &__button {
        width: 8rem;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
  @include desktop {
    margin: 2rem 5rem;
    &-input {
      padding: 1.5rem 2rem;
      &__subheading {
        font-size: 1.5rem;
      }
      &__text {
        font-size: 1.5rem;
      }
      &__button {
        width: 10rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}
