@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.profile {
  @include mobile {
    &-user {
      &__heading {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem 0 1rem;
        &--link {
          color: $white;
          font-size: 1rem;
          font-weight: 200;
          background-color: rgba($purple, 0.2);
          text-align: center;
          width: fit-content;
          padding: 0 1rem;
          border-radius: 40px;
          margin-bottom: 1rem;
        }
        &--text {
          width: 100%;
          color: $white;
          font-size: 1.2rem;
          font-weight: 600;
          margin: 0.5rem;
        }
      }
      &__sort {
        color: white;
        display: none;
      }
      &__card {
        margin: 0 1rem;
        text-align: left;
        color: $white;
        background-color: rgba($light-blue, 0.3);
        &--divider {
          border: $white solid 0.5px;
        }
        &--detail {
          margin: 0 1rem;
          display: flex;
          flex-wrap: wrap;
          &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            &-heading {
              margin: 1rem 1rem 0 0;
              width: 100%;
              font-size: 1rem;
            }
            &-text {
              text-align: left;
              color: $dark-blue;
              font-size: 1rem;
              font-size: 1rem;
              font-weight: 200;
            }
          }
        }
        &--actions {
          display: flex;
          width: 100%;
          margin: 1rem 0;
          align-items: baseline;
          &-link {
            width: 50%;
          }
          &-delete {
            background-color: transparent;
            border: none;
          }
        }
      }
    }
  }
  @include tablet {
    &-user {
      &__heading {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 2rem 1rem 2rem;
        &--link {
          padding: 0.3rem 2rem;
        }
        &--text {
          width: 100%;
        }
      }
      &__sort {
        width: calc(100% - 3rem);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgba($light-blue, 0.2);
        border-radius: 20px;
        margin: 0 1.5rem;
        &__heading {
          padding-right: 1.5rem;
          color: white;
        }
        &__actions {
          color: white;
        }
      }
      &__card {
        margin: 2rem;
        &--detail {
          align-items: center;
          flex-wrap: nowrap;
          margin: 0;
          justify-content: space-between;
          padding: 0.5rem 0;
          &-item {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            margin-left: 1rem;
            &-heading {
              display: none;
            }
            &-text {
              width: 5rem;
              color: $white;
            }
          }
        }
      }
    }
  }
  @include desktop {
    &-user {
      &__heading {
        margin: 2rem 5rem 1rem 5rem;
        &--link {
          padding: 0.3rem 2rem;
          font-size: 1.5rem;
        }
        &--text {
          font-size: 1.5rem;
        }
      }
      &__sort {
        width: calc(100% - 10rem);
        margin: 0 5rem;
      }
      &__card {
        margin: 2rem 5rem;
        &--detail {
          &-item {
            &-text {
              width: 9rem;
            }
          }
        }
      }
    }
  }
}

.followup {
  @include mobile {
    display: flex;
    width: 50%;
    justify-content: space-between;
    &-increase {
      width: 1.2rem;
    }
    &-decrease {
      width: 1.2rem;
    }
  }
  @include tablet {
    width: 5.5rem;
    &-increase {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
    &-decrease {
      width: 1.5rem;
    }
  }
  @include desktop {
    &-increase {
      width: 3rem;
    }
    &-decrease {
      width: 3rem;
    }
  }
}

.applied {
  display: flex;
  width: 40%;
  justify-content: space-between;
  @include desktop {
    width: 30%;
    margin-left: 4rem;
  }
}

.postdate {
  @include tablet {
    &-text {
      width: 7rem;
      margin-left: 0.5rem;
    }
  }
}

.location {
  @include desktop {
    &-text {
      margin-left: 5rem;
    }
  }
}

.edit-icon {
  height: 1.3rem;
  width: 1.3rem;
}